<div class="container">
    <div class="row">
        <h1>Ojos</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://ar.todomoda.com/media/wysiwyg/TMB_SLIDER_-_hyper_aura_01_desktop_.jpg " class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" *ngFor="let producto of productoCarrusel">
                <img src="{{producto.imagen}}" class="d-block w-100" alt="{{producto.alt}}">
              </div>
            </div>
          </div>

        <div class="col">
            <app-card
            (productoAgregado)="productoAnadido($event)"(productoReciente)="product"></app-card>
        </div>
    </div>
</div>