/* Aseguramos que el body ocupe todo el alto de la ventana */
html, body {
  height: 100%;
  margin: 0;
}

/* El contenedor principal debe ocupar toda la altura de la ventana */
.container {
  display: flex;
  flex-direction: column;
}

/* El contenido debe ocupar todo el espacio disponible entre el contenido y el footer */
.content {
  padding: 20px;
}

/* Estilos para el footer */
footer {
  width: 65%;
  text-align: center; /* Asegura que el contenido dentro del footer se alinee al centro */
  margin: auto;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  background-color: #f8f9fa;
  margin-top: auto; /* Empuja el footer al fondo si el contenido es pequeño */
  bottom: 0;
  /* position: fixed; */
}

footer .col-md-4 {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  width: 100%;
  text-align: center; /* Asegura que el texto también se centre */
}

footer .text-body-secondary {
  font-size: 1rem;
  color: #6c757d;
}

footer a {
  text-decoration: none;
  color: inherit; /* Asegura que el enlace no tenga estilo por defecto */
}

/* Responsividad */
@media (max-width: 768px) {
  footer .col-md-4 {
    text-align: center;
    margin-bottom: 10px;
  }

  footer .nav {
    justify-content: center;
  }
}
