<footer>
  <div class="footer-container">
      <div class="footer-section about">
          <img src="assets/Logo.png" alt="">
      </div>
      <div class="footer-section links">
          <h2>Enlaces Rápidos</h2>
          <ul>
              <li><a routerLink="/inicio">Inicio</a></li>
              <li><a routerLink="/producto">Productos</a></li>
              <li><a routerLink="/contacto">Contacto</a></li>
              <li><a routerLink="/nosotros">Sobre Nosotros</a></li>
          </ul>
      </div>
      <div class="footer-section contact">
          <h2>Contacto</h2>
          <ul>
              <li><i class="fa fa-map-marker"></i> Dirección: Chichinales 1844, Cipolletti, Rio Negro </li>
              <li><i class="fa fa-phone"></i> Teléfono: +299 777 1234</li>
              <li><i class="fa fa-envelope"></i> Email: lightneat@gmail.com</li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      &copy; 2024 Light Neat | Diseñado por Lourdes Daniele
  </div>
</footer> 