/* General */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 90px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f68eb0;
  margin-bottom: 30px;
}

/* Tarjetas */
.card {
  width: 280px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

.product-description {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

/* Botón de "Ver" */
.btn-arrow {
  position: absolute; /* Para colocarlo sobre la imagen */
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #ff0077;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #ff0077;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-arrow:hover .arrow-circle {
  background-color: #e0e0e0;
  transform: translateX(5px);
}

.btn-arrow span {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

/* Efecto hover en el botón */
.btn-arrow:hover {
  color: #ffffff;
  background-color: #ff87bb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-arrow:hover span {
  transform: translateX(5px);
}


/* Modal principal */
.modal-dialog {
    max-width: 450px;
    /* Ancho más pequeño del modal */
    margin: 30px auto;
    /* Centrado del modal */
}

.modal-content {
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    background-color: #fff;
    padding: 20px;
}

/* Cabecera del modal */
.modal-header {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título del modal */
.modal-title {
    font-size: 1.25rem;
    color: #333;
    font-weight: bold;
    margin: 0;
}

/* Botón de cierre en la cabecera */
.modal-header .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: #333;
    opacity: 0.7;
}

.modal-header .btn-close:hover {
    opacity: 1;
}

/* Cuerpo del modal */
.modal-body {
    padding-bottom: 20px;
    text-align: center;
}

/* Imagen dentro del modal */
.modal-body img {
    width: 200px;
    /* Imagen más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
}

/* Descripción*/
.mb-3 {
    font-size: 1rem;
    color: #313131;
    margin-bottom: 15px;
}

/* precio */
.mb-2 {
    font-size: 1rem;
    color: #c40d9c;
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo de los botones del modal */
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f4f4f4;
    padding-top: 15px;
}

.modal-footer .btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 50px;
    /* Bordes redondeados */
}

.btn-secondary:hover {
    background-color: #77616e;
}


/* Media Queries */
@media (max-width: 767px) {
  .card {
    width: 100%;
    height: 100%; /* Ajuste automático */
    padding: 12px;
  }

  .card-img {
    height: 60%; /* Reduce la altura de la imagen en móviles */
  }

  .card-container {
    flex-wrap: wrap;
  }

  .precio {
    font-size: medium;
  }

  .btn-ver {
    font-size: 12px;
    padding: 5px 8px;
  }

  .btn-arrow {
    font-size: 0.9rem;
    padding: 8px 15px;
    background-color: #ffffff; /* Conserva el color base */
    color: #ff0077; /* Conserva el color del texto */
    box-shadow: none;
    transition: all 0.3s ease; /* Asegura que el hover funcione */
  }

  .btn-arrow:hover {
    background-color: #ff87bb;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-arrow:hover span {
    transform: translateX(5px);
  }

  .arrow-circle {
    margin-left: 8px;
    width: 20px;
    height: 20px;
  }

  .carousel-item img {
    height: 200px;
  }
}
