
<div class="container">
  <h1 class="section-title">Productos destacados</h1>
  <div class="row">
    <div *ngFor="let i of info" class="col-lg-3">
      <div class="card-container">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="product-name">{{i.nombre}}</mat-card-title>
          </mat-card-header>
          <img class="card-img" mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
          <!-- <mat-card-content>
            <p class="product-description">{{i.descripcion}}</p>
          </mat-card-content> -->
          <mat-card-actions>
            <button class="btn-arrow" [routerLink]="i.ruta">
              {{i.categoria}} <span>&rarr;</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>


