<div class="container">
    <div class="row form-container">
      <!-- Título de la página de registro -->
      <h1 class="form-title">Regístrate</h1>
  
      <!-- Icono para representar al usuario (persona) -->
      <i class="material-icons form-icon">person</i>
  
      <!-- Campo para ingresar el nombre del usuario -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Ingrese nombre de usuario:</mat-label> <!-- Etiqueta del campo -->
        <!-- El input está vinculado con el modelo 'usuarios.nombre' para obtener el valor -->
        <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej: lurde" required>
        <!-- 'matInput' aplica el estilo del material design -->
      </mat-form-field>
  
      <!-- Campo para ingresar el apellido del usuario -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Ingrese su apellido:</mat-label> <!-- Etiqueta del campo -->
        <!-- El input está vinculado con el modelo 'usuarios.apellido' para obtener el valor -->
        <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej: daniele" required>
      </mat-form-field>
  
      <!-- Campo para ingresar el email del usuario -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Ingrese su email:</mat-label> <!-- Etiqueta del campo -->
        <!-- El input está vinculado con el modelo 'usuarios.email' para obtener el valor -->
        <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: lurde@gmail.com" required>
      </mat-form-field>
  
      <!-- Campo para ingresar la contraseña del usuario -->
      <mat-form-field class="form-field">
        <mat-label>Ingrese su contraseña</mat-label> <!-- Etiqueta del campo -->
        <!-- El tipo de input cambia entre 'password' o 'text' según el valor de 'hide' -->
        <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
        <!-- 'hide' es un valor booleano que determina si la contraseña debe mostrarse o no -->
        <!-- 'minlength' asegura que la contraseña tenga al menos 6 caracteres -->
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <!-- Botón para mostrar u ocultar la contraseña -->
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> <!-- Icono cambia según el estado de 'hide' -->
        </button>
        <mat-hint text-align="start">Mínimo:6/{{input.value.length}}</mat-hint> <!-- Muestra la longitud de la contraseña -->
      </mat-form-field>
  
      <!-- Botón para registrar al usuario -->
      <button mat-raised-button color="primary" class="submit-btn" (click)="registrar()">Registrar</button>
      <!-- Al hacer clic en este botón se ejecuta la función 'registrar' en el componente de TypeScript -->
    </div>
  </div>
  