<div id="carouselExample" class="carousel slide" >
  <div class="carousel-inner">
    <div class="carousel-item active" routerLink="/producto">
      <img src="https://ar.todomoda.com/media/wysiwyg/TMB_SLIDERS_-_wholesome_honey_3_desktop_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" routerLink="/producto">
      <img src="https://ar.todomoda.com/media/wysiwyg/TMB_SLIDERS_mentally_on_the_wave_03_desktop__1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" routerLink="/producto">
      <img src="https://ar.todomoda.com/media/wysiwyg/TMB_SLIDERS_-_pillow_blush_mobile_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" routerLink="/producto">
      <img src="https://ar.todomoda.com/media/wysiwyg/TMB_SLIDERS_emily_desktop_.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let i of info" class="col-lg-3 col-6">
      <div class="card-container">
        <div class="contenido">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <img class="card-img" mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
            <mat-card-actions>
              <button class="btn-arrow"  [routerLink]="i.ruta">
                  {{i.nombre}} <span>&rarr;</span>
            </button>
            
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
