/* carrusel */
.carrusel {
  height: 50%;
}

.carrusel-imagen {
  width: 100%;
  height: 50%;
  object-fit: fill;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.carrusel-imagen {
  height: 400px;
  width: 300%;
  object-fit: cover;
  border-radius: 8px;
}




/* cards */
.card {
  background: #dab2e4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.card-img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.precio {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 500;
  color: #000000;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/* 
.card:hover::before {
  content: url('https://ar.todomoda.com/media/catalog/product/7/6/76234303_0_1_20240523180645.jpg?quality=75&bg-color=255,255,255&fit=bounds&height=841&width=657&canvas=657:841');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
} */

.contenido {
  margin-bottom: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

/* Estilos para móviles y pantallas pequeñas */
@media (max-width: 767px) {
  .card {
    width: 70%; /* Ancho completo para pantallas pequeñas */
    height: 100%;
    padding: 12px; /* Ajustar el relleno para pantallas pequeñas */
  }
  .card-img{
    width: 100%;
    height: 70%;
  }
  .precio{
      position: relative;
      font-size: medium;
  }
}