<div class="container">
    <div class="row form-container">
        <h1 class="form-title">Inicia Sesión</h1>
        <i class="material-icons form-icon">person</i>

        <!-- Email de usuario -->
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Ingrese su email:</mat-label>
            <input [(ngModel)]="usuarioIngresado.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

        <!-- Contraseña de usuario -->
        <mat-form-field class="form-field">
            <mat-label>Ingrese su contraseña:</mat-label>
            <input [(ngModel)]="usuarioIngresado.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!-- Botón para iniciar sesión -->
        <button mat-raised-button color="primary" class="submit-btn" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
</div>
