/*Estilos Para Modo Oscuro*/
body{
    transition: all 1.5 ease;
}
#toggle{
    display: none;
}
#label_toggle{
    position: static;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: white;
    transition: all 1.5 ease;
}

*{
    color: black;
}

body{
    background-color: rgb(250, 232, 244);
}