<mat-toolbar>
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="secciones">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #secciones="matMenu">
    <!-- Menú desplegable para móviles -->
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item routerLink="/contacto">Contacto</button>
    <button mat-menu-item routerLink="/nosotros">Sobre Nosotros</button>

    <button mat-menu-item [matMenuTriggerFor]="producto" class="nombres">Maquillaje</button>
  </mat-menu>

  <!-- Botón Light Neat -->
  <button class="lightneat" id="menuInicio" mat-button routerLink="/inicio">Light Neat</button>

  <!-- Botones visibles en pantallas grandes -->
  <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Maquillaje</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="/labiales">Labiales</button>
    <button mat-menu-item routerLink="/ojos">Ojos</button>
    <button mat-menu-item routerLink="/rostro">Rostro</button>
    <button mat-menu-item routerLink="/unas">Uñas</button>
  </mat-menu>

  <!-- Botones de "Contacto" y "Sobre Nosotros" para pantallas grandes -->
  <div class="navbar-links">
    <button mat-button routerLink="/contacto">Contacto</button>
    <button mat-button routerLink="/nosotros">Sobre Nosotros</button>
  </div>

  <span class="example-spacer"></span>

  <!-- Usuario y carrito -->
  <button mat-icon-button [matMenuTriggerFor]="usuario">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item *ngIf="logueado" (click)="iniciar()" routerLink="/registro">Registrarse</button>
    <button mat-menu-item *ngIf="logueado" (click)="iniciar()" routerLink="/inicio-sesion">Iniciar sesión</button>
    <button mat-menu-item *ngIf="deslogueado" (click)="cerrarSesion()">Cerrar sesión</button>
  </mat-menu>

  <button mat-icon-button routerlink="/carrito" class="example-icon favorite-icon" aria-label="Carrito de compras">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
