.example-spacer {
    flex: 1 1 auto;
}

@media(min-width: 300px)and (max-width: 700px) {
    mat-toolbar {
        background-color: beige
    }

    #menuInicio {
        display: none
    }

    #menuInicial {
        display: none
    }
}

.nombres{
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase; 
}

.lightneat{
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase; 
}

@media (min-width: 700px) {
    mat-toolbar {
        background-color: beige
    }

    #menuSecciones {
        display: none;
    }
}